{% load crispy_forms_tags %}
<!doctype html>
<html>
  <body>
    
    <div class="card-body">
      <form method="POST" data-url="{% url 'todo:add-task' %}" class="create-form">
        {% csrf_token %}
        
        <div class="row">
          <div class="col-md-4">
            {{ form.task | as_crispy_field }}
          </div>
          <div class="col-md-4">
            {{ form.start_date | as_crispy_field }}
          </div>
          <div class="col-md-4">
            {{ form.end_date | as_crispy_field }}
          </div>          
        </div>
        <br>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Task</button>
            </div>
      </form>
    </div>
    <script>
      //Date Picker for broker expiration date
    $('#id_start_date,#id_end_date').datetimepicker({
      timepicker: true,
      datepicker: true,
      format: 'Y-m-d H:i',
      hours12:false,
      step: 10,
      yearStart: 2020,
    });
    
    // background color for birth-date
    $('#id_start_date').click(function(){
      $("#id_start_date").css("background-color","#99cc00");
      $("#id_end_date").css("background-color","#ccc");
    })
    $('#id_end_date').click(function(){
      $("#id_end_date").css("background-color","#99cc00");
      $("#id_start_date").css("background-color","#ccc");
    })
    $('#id_task').click(function(){
      $("#id_start_date").css("background-color","#ccc");
      $("#id_end_date").css("background-color","#ccc");
    })
    $('#id_start_date').change(function(){
      start_date = $('#id_start_date').val();
      start_date = new Date (start_date)
      end_date = $('#id_end_date').val();
      end_date = new Date (end_date);
      if (start_date > end_date) {
        start_date = $('#id_start_date').val('');
        end_date = $('#id_end_date').val('');
      }
    })
    $('#id_end_date').change(function(){
      start_date = $('#id_start_date').val();
      start_date = new Date (start_date)
      end_date = $('#id_end_date').val();
      end_date = new Date (end_date);
      if (start_date > end_date) {
        start_date = $('#id_start_date').val('');
        end_date = $('#id_end_date').val('');
      }
    })
    
    </script>
</body>
</html>

